<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed HTML</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Font;
            color: #e8effa;
            overflow-x: hidden;
            background: #0d1219;
            -webkit-touch-callout: none;
            user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        a {
            text-decoration: none;
            color: #e8effa;
        }

        .sections {    
            width: 82%;
            padding: 8px;
            border-radius: 15px;
            background: none;
            height: 45px;
            margin: 11px;
            box-shadow: 1px 2px 10px rgba(28, 123, 255, .6);
            border: 3px solid #1C7bff;
        }

        .sections img {
            float: left;
            width: 45px;
            border-radius: 23.3%;
            filter: drop-shadow(1px 2px 10px #1C7bff);
        }

        .sections h1 {
            font-size: 17px;
            text-align: justify;
            margin-top: 2px;
            margin-bottom: 0;
            margin-left: 60px;
        }

        .webcount {
            visibility: hidden;
        }

        .iOS, .noJS {
            background: none;
            border-radius: 25px;
            box-shadow: 1px 2px 10px rgba(28, 123, 255, .6);
            border: 3px solid #1C7bff;
            font-size: 20px;
            font-weight: 600;
        }

        .iOS {
            width: 125px;
            max-width: 125px;
        }

        .noJS {
            width: 145px;
        }

        .snowflakeContainer {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            visibility: hidden;
        }

        .snowflake {
            position: fixed;
            background-color: #1C7bff;
            user-select: none;
            z-index: 1000;
            pointer-events: none;
            border-radius: 50%;
            width: 13px;
            height: 13px;
        }

        .private {
            position: fixed;
            margin: auto;
            left: 0;
            right: 0;
            margin-bottom: 10px;
        }

        .search {
            position: fixed;
            margin: auto;
            left: 0;
            right: 0;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-bottom: 3px solid #1C7bff;
            background: none;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: 1px 2px 10px rgba(28, 123, 255, .6);
        }

        @supports (
          (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
        ) {
            .top {
                padding: 20px 0;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                border-bottom: 3px solid #1C7bff;
                background: none;
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
                box-shadow: 1px 2px 10px rgba(28, 123, 255, .6);
            }
        }

        .top h1 {
            position: fixed;
            top: 5px;
            left: 55px;
            font-size: 25px;
        }

        .top img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 20px;
        }

        @font-face {
            font-family: Framework7 Icons;
            src: url(https://appinstallerios.com/Framework7Icons-Regular.woff2);
        }

        @font-face {
            font-family: Font;
            src: url(https://appinstallerios.com/Font.TTF);
        }

        @supports (
          (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
        ) {
            .nav {
                font-family: Framework7 Icons;
                justify-content: center;
                position: fixed;
                box-shadow: 1px 2px 10px rgba(28, 123, 255, .6);
                border: 3px solid #1C7bff;
                bottom: 0;
                z-index: 99;
                text-align: center;
                padding: 15px;
                margin: 5% auto;
                left: 0;
                right: 0;
                width: 65%;
                max-width: 400px;
                background: none;
                border-radius: 20px;
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
            }
        }

        .nav a {
            font-size: 45px;
            margin: 15.8px;
        }

        .nav a.active {
            color: #1C7bff;
        }

        .nav a.un-active {
            color: #e8effa;
        }

        #myInput {    
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 45%;
            font-size: 16px;
            padding: 10px 17px 10px 37px;
            margin-bottom: 9px;
            border-radius: 20px;
            outline: none;
            border: 3px solid #1C7bff;
            background: none;
            color: #e8effa;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: 1px 2px 10px rgba(28, 123, 255, .6);
        }

        #myInput::placeholder {
            color: #e8effa;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
</html>
